:root {
    --color1: #7D6E83;
    --color2: #DFD3C3;
    --color3: #F8EDE3;
    --colortext: #3C2317 ;
  }



html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
}

body{
    min-width: 100%;
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 3rem;
    padding-top: 6rem;
    background-color: var(--color3);
    overflow-x:hidden;
    overflow-y: scroll;
}

.footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    }

.homepage {
    width:100vw;
    height: 100%;
}

.offcanvas {
    background-color: var(--color1);
}

.header {
    background-color:var(--color1) !important;
    color: var(--colortext);
}

.search-btn {
    background-color: var(--colortext) !important;
}

.footer {
    background-color: var(--color1) !important;
    color: var(--colortext);
}

.card {
    background-color: var(--color2);
    color: var(--colortext);
    border:0;
}

.card-carousel {
    background-color: var(--color1)
}

.yellow-bg {
    background-color: var(--color2) !important ;
}

.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
    background-color: var(--color2);
    border-color: var(--color2);
}

#search::placeholder {
    color:var(--colortext)
}
.nav-link {
    color: var(--color3) !important;
}
.btn {
    background-color: var(--color1) !important;
    color: var(--color3) !important;
    border-color:var(--color3)
}

.font-yellow {
    color:var(--colortext)
}
.navbar-brand {
    color:var(--color3) !important;
}
a {
    text-decoration: none;
    color:var(--colortext) !important;
}

.random-img {
    height:200px;
    width: auto;
    max-width: 10em;
}

.carousel-img, .random-img {
    height:200px;
    width: auto;
    max-width: 10em;
}

.card-img-top {
    width: auto;
    max-width: 10em;
}

.quiz-card {
    max-width: 30em;
}
.container-fluid {
    padding: 0;

}

.preview-link, .preview-link:hover {
    color: var(--colortext) !important;
}

.brand {
    font-size: 1.4em;
    color: var(--color3);
}

.offcanvas-backdrop.show {
    background-color: rgba(0,0,0,.5) !important; 
}


.text-break {
    word-break: inherit;
    line-height: 1.6rem;
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3.2rem;

}

.h2 {
    color: var(--colortext)
}




@media all and (min-width: 1080px) and (max-width: 1400px) { 
  

    

 }


@media all and (min-width: 1025px) and (max-width: 1280px) { 
  


 }

@media all and (min-width: 769px) and (max-width: 1024px) { 


 
}

@media all and (min-width: 376px) and (max-width: 768px) {
    .categories-dropdown{
        visibility: hidden;
        height:0px;
        width:0px
    }

 }

@media all and (max-width: 375px) { 
    .categories-dropdown{
        visibility: hidden;
        height:0px;
        width:0px
    }
    
}